.cartIcon {
  height: 2rem;
  position: fixed;
  right: 0px;
  z-index: 999;
  margin: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
.cartIcon:hover {
  scale: 150%;
}
.addItemInCart {
  animation: addItemInCart 0.7s;
  transition-timing-function: ease-in-out;
}
@keyframes addItemInCart {
  0% {
    scale: 100%;
    color: black;
  }
  50% {
    scale: 200%;
    color: #f02d34;
  }
  100% {
    scale: 100%;
    color: black;
  }
}
